.header__subtitle {
    width: max-content;
    color: white;
    text-decoration: none;
    margin-top: 14px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
}

@media screen and (max-width: 820px) {
    .header__subtitle {
        font-size: 14px;
        line-height: 12px;
    }
  }

@media screen and (max-width: 450px) {
    .header__subtitle {
        font-size: 10px;
        line-height: 8px;
    }
  }