.advantages__container {
    width: max-content;
    display: grid;
    grid-template-columns: 282px 282px;
    margin: 0;
    margin-top: 50px;
    margin-left: 0;
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    grid-area: advice;
}

@media screen and (max-width: 720px) {
    .advantages__container {
        grid-template-columns: 282px;
    }
  }

  @media screen and (max-width: 500px) {
    .advantages__container {
        grid-template-columns: 260px;
    }
  }